* {
margin: auto;
}

button{
    padding: 20px;
    margin: 5px;
}

#chessBoard{
    margin: auto;
    width: 400px;
    padding: 10px;
}

.buttonDiv{
    text-align: center;
}

#promotionDiv{
    visibility: hidden;
}

.promotionButtons{
    padding: 0px;
}

.highlight-white {
    box-shadow: inset 0 0 3px 3px red;
}
  
.highlight-black {
    box-shadow: inset 0 0 3px 3px blue;
}

#progressBar{
    visibility: hidden;
}

#exPos{
    overflow: hidden;
    padding-bottom: 50px;
}