.promotionButtons {
  padding: 0px;
}

.highlight-white {
  box-shadow: inset 0 0 3px 3px red;
}

.highlight-black {
  box-shadow: inset 0 0 3px 3px blue;
}

#progressBar {
  visibility: visible;
}

#exPos {
  overflow: hidden;
  padding-bottom: 50px;
}

.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

#promotionDiv {
  visibility: hidden;
}
